---
layout: main
---
<ul class="post-list">
    {% for post in paginator.posts %}
        {% if post.published == true %}
        <li>
            <article>
                <a href="{{ site.url }}{{ post.url }}">
                    {% if post.logo %}
                        <img src="/images/{{ post.logo }}" style="width: 32px; height: 32px;"/>
                    {% else %}
                        <img src="/images/favicon/favicon-32x32.png" style="width: 32px; height: 32px;"/>
                    {% endif %}
                    {{ post.title }}
                    <span class="entry-date">
                        <b>
                            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
                        </b>
                    </span>
                    {% if post.excerpt %}
                        <span class="excerpt">
                            {{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}
                        </span>
                    {% endif %}
                </a>
            </article>
        </li>
        {% endif %}
    {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
        <img src="/images/previous.png" width="48" height="48"/>
    </a>
    {% else %}
    <!--<span class="previous">Previous</span>-->
    {% endif %}
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">
        <img src="/images/next.png" width="48" height="48"/>
    </a>
    {% else %}
    <!--<span class="next">Next</span>-->
    {% endif %}
</div>
